<div id="login-page" class="uk-container">
  <form [formGroup]="loginForm" (ngSubmit)="doLogin()" class="uk-width-large@m uk-width-medium@s uk-position-center">
    <div class="uk-margin-large-bottom">
      <h1 class="uk-text-center">Medicine <b>Online</b></h1>
    </div>
    <div class='uk-margin'>
      <label class="uk-form-label" for="email">Enter your email</label>
      <input id="email" class="uk-input" placeholder="Email">
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="password">Enter your password</label>
      <input id="password" class="uk-input" type="password" placeholder="Password">
    </div>
    <div class="uk-margin">
      <button class="uk-button uk-button-secondary uk-align-right" type="submit">Login</button>
    </div>
  </form>
</div>